/*Gobal*/
*,
*::before,
*::after
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth
}

body{
    overflow-x: hidden;
}


/*Temperary*/
img{
    width: 100%;
}

/*CSS variables*/
:root
{
    --main-font-color: #ff6f61;
    --main-font-gray-color: #4d4d4d;
    --main-footer-color: #c5f4d9;
    --main-white-color: #fff;
    --main-font-family: 'Cheddar Jack', "cursive";
}

section
{
    padding: 6rem 0;
}

p{
    line-height: 1.6;
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--main-font-gray-color);
}

a{
    text-decoration: none;
    color: var(--main-white-color);
}

ul li{
    list-style: none;
}

p a{
    color: var(--main-font-color);
}


/*Reuseable*/
.container{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.btn{
    display: inline-block;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 650ms;
}


.between-section{
    padding: 20rem 0;
    text-align: center;
}



.custom-font{
    font-family: var(--main-font-family);
    font-size: 6rem;
    font-weight: 100;
    line-height: 1;
    color: var(--main-font-color);
    user-select: none;
    margin-bottom: 1rem;
}

.custom-font-text{
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}


.custom-font-secondary,
.story, 
.techologies,
.work-experience{
    margin-bottom: 2rem;
    margin-right: -3px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.8rem;
    color: var(--main-white-color);
}

.story,
.techologies,
.work-experience{
    color: var(--main-font-gray-color);
}





/*Header*/
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent),
        url("./images/header3.jpg") bottom no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}


/*Header Toggle*/
.menu{
    padding: 2rem 2.5rem;
    position: fixed;
    top: 3rem;
    right: 3rem;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    cursor: pointer;
    z-index: 999;
}

.menu .bar,
.menu .bar::before,
.menu .bar::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 4rem;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 650ms;
    margin: auto;
    background-color: var(--main-white-color);
}

.menu .bar::before{
    top: -2rem;
}

.menu .bar::after{
    bottom: -2rem;
}

.active .bar{
    background-color: transparent;
}
.active .bar::before{
    top: 0;
    transform: rotate(-45deg);
}

.active .bar::after{
    bottom: 0;
    transform: rotate(45deg);
}


.nav{
    width: 100%;
    height: 6rem;
    line-height: 6.5rem;
    position: relative;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 20;
    transition: all 650ms;
    opacity: 0;
    transform: scale(0);
}

.overlay.menu-open{
    transform: scale(1);
    opacity: 1;
}

/*Header Nav*/
.nav .overlay ul{
    position: relative;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav .overlay ul li{
    text-transform: uppercase;
}

.nav .overlay ul li a{
    display: block;
    font-size: 1.5rem;
    letter-spacing: 4px;
    margin-right: -4px;
    transition: all 650ms;
}

.nav .overlay ul li a:hover{
    color: var(--main-font-color);
}



/*Header Content*/
.main-text{
    line-height: 0;
    margin: auto;
    color: var(--main-white-color);
    user-select: none;
}

.main-text h1{
    font-family: var(--main-font-family);
    font-weight: 100;
    font-size: 9rem;
    color: var(--main-font-color);
    margin-bottom: 4rem;
}

.main-text h2{
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-right: -3px;
    font-size: 1.5rem;
    line-height:1;
    position: relative;
}

.main-text h2::before,
.main-text h2::after{
    content: "";
    width: 5rem;
    height: 3px;
    top: 50%;
    transform: translateY(50%);
    position: absolute;
    background: var(--main-white-color);
    border-radius: 8px;
}

.main-text h2::before{
    left: -6rem;
}

.main-text h2::after{
    right: -6rem;
}

.resume-btn{
    border: 2px solid var(--main-font-color);
    padding: 2rem 2.5rem;
    margin-top: 2.7rem;
    margin-right: -4px;
    letter-spacing: 4px;
    position: relative;
}

.resume-btn:hover{
    transform: translateY(-4px);
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
}

.resume-btn:active{
    transform: translateY(0);
    box-shadow: none;
}



/*About*/

.btn-info{
    color: var(--main-font-color);
    font-size: 1.5rem;
    padding: 1rem;
    border-bottom: 2px solid var(--main-font-color);
    margin: 2rem 0 2rem 0;
}

.btn-info:hover{
    color: var(--main-white-color);
    background-color: var(--main-font-color);
}

.about-me-img{
    width: 100%;
    min-height: 30rem;
    background: url("images/about.jpg") center no-repeat;
    background-size: cover;
}

/*Dig Deeper*/
.dig-deeper{
    background:linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.9)),
                 url("images/between3.jpg") center no-repeat;
    background-size: cover;
}

/*Passionate Programmer*/
.passionate-programmer{
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.9)),
                url("images/between2.jpg") center no-repeat;
    background-size: cover;
}

/*Experience*/
.experience-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    line-height: 2rem;
    color: var(--main-font-gray-color);
    margin-bottom: 5rem;
}

.custom-font-title{
    font-size: 1.8rem;
    letter-spacing: 3px;
    margin-right: -3px;
    padding: 3rem 0;
}



.experience-container ul li{
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.work-container{
    width:100%;
}

/*Project*/
.card-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.card{
    width: 27rem;
    height: 50rem;
    background-color: #eef5f6;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 2.5rem;
    box-shadow: 0.5rem 0.5rem 3rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    position: relative
}

.card-title{
    margin-bottom: -2rem;
}

.card-title a{
    color: var(--main-font-gray-color);
}
.card-title a:hover{
    color: var(--main-font-color);
}

.btn-project{
    padding: 1rem 2.5rem;
    background-color: #ffb6ae;
    font-size: 1.3rem;
    position: absolute;
    bottom: 2rem;
}

.btn-project:hover{
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.2)
}

.btn-project:active{
    transform: translateY(0);
    box-shadow: none;
}

/*Form*/
.form-container{
    width: 100%;
    min-width: 9rem;
    margin-top: 5rem;
}

.input,
.text-area{
    width: 100%;
    max-width: 100%;
    margin: .6rem 0;
    padding: .5rem 1rem;
    border-radius: 3px;
    border: 1px solid var(--main-font-color);
    font-size: 1.4rem;
}

.text-area{
    height: 10rem;
}

.submit-btn{
    width: 100%;
    padding: 1.4rem 1rem;
    background-color: var(--main-font-color);
    color: var(--main-white-color);
    border: none;
}

.submit-btn:hover{
    background-color: #ffb6ae
}
/*Footer*/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    background-color: #f2877c;
}

footer .email{
    margin: 2rem 0;
    color: var(--main-white-color);
    letter-spacing: 3px;
    margin-right: -3px;
    font-weight: 500;
    font-size: 1.2rem;
}

.social-contact{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem 1.5rem;
    margin-bottom: 2rem;
}

.social-contact i{
    font-size: 3rem;
}

.fa-facebook:hover, 
.fa-instagram:hover,
.fa-linkedin:hover,
.fa-github:hover{
   color:#a6fbdf;
}

/*This section will contain css for desktop interface*/
@media screen and (min-width:660px){


    .menu{
        display: none;
    }

    .nav{
        display:flex;
        padding: 2rem 10rem 0;
        justify-content: space-between;
    }

    .nav .overlay{
        position: initial;
        opacity: initial;
        transform: initial;
        background: none;
    }

    .nav .overlay ul{
        flex-direction: row;
        list-style: none;
        margin-top: 2px;
    }

    .nav .overlay ul li a{
        font-size: 1.5rem;
        letter-spacing: 1px;
        margin-right: -1px;
        padding: 0 2rem;
    }


    .about-me-container,
    .contact-container{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .card-wrapper{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card{
        margin: 2rem;
    }

    .add-flex{
        flex: 1;
    }

    .center{
        flex: 1;
    }

    .add-padding-right{
        padding-right: 10rem;
    }


    .personal-container{
        width: 100%;
        display:flex;
        flex-direction: row;
        align-content: space-between;
        margin-top: 5rem;
    }

    .personal-container-item{
        width: 50%;
    }

    .social-contact{
        justify-content: center;
    }

    .social-contact li{
        padding: 0 1.5rem;
    }



   /* @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to{
            opacity: 1;
        }
    }

    .card:nth-child(1){
        animation: fadeIn .5s .5s backwards;
    }

    .card:nth-child(2){
        animation: fadeIn .5s 1s backwards;
    }
    .card:nth-child(3){
        animation: fadeIn .5s 1.5s backwards;
    }*/

}
